/* @import url('https://fonts.googleapis.com/css2?family=Cookie&family=Gowun+Dodum&display=swap'); */

@tailwind base;

.navItem {
  @apply block relative mt-4 mr-4 text-white lg:inline-block lg:mt-0 hover:text-primary duration-300 transition-colors;
}

.socialLinks {
  @apply hover:text-primary hover:line-through duration-300 transition-colors;
}

.btn {
  @apply uppercase px-6 py-3 font-bold text-xs mt-8 rounded-md border-2 border-primary hover:text-white text-primary hover:bg-primary duration-300 transition-colors lg:text-lg lg:mt-10;
}

.contactInput {
  @apply bg-transparent text-sm px-4 py-2 border-2  lg:text-lg border-secondaryLighter rounded placeholder-secondaryLighter w-full focus:outline-none text-gray-400;
}

@tailwind components;
@tailwind utilities;

body {
  background-color: #2D2F31;
  font-family: 'Gowun Dodum', sans-serif;
}

.navItem::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #C7AD88;
  visibility: hidden;
  transition: all .3s ease-in-out 0s;
  -webkit-transition: all .3s ease-in-out 0s;
  -moz-transition: all .3s ease-in-out 0s;
  -ms-transition: all .3s ease-in-out 0s;
  -o-transition: all .3s ease-in-out 0s;
}

.navItem:hover::before, .active::before {
  visibility: visible;
  width: 25px;
}

.h-screenSeventy {
  height: 70vh;
}

.h-screenFourty {
  height: 40vh;
}